name: Matrix Rain

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
      
        uses: actions/checkout@v3

      - name: Generate Matrix Rain
        uses: Platane/snk@v3
        with:
          github_user_name: Genofogu
          outputs: |
            output/matrix-rain.svg

      - name: Push to output branch
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: output
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
