name: Generate Neon Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: Platane/snk@v3
        with:
          github_user_name: Genofogu
          outputs: |
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark&color_snake=#ff0000&color_dots=#300000,#500000,#700000,#990000,#ff0000

      - uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
